wbody {
	margin: 0px;
	padding: 0px;
	height: 100vh;
}

.container {
	position: absolute;
	width: 100%;
	min-height: 100vh;
	margin: 0px;
	padding: 0px;
	top: 200px;
	left: 50%;
	transform: translateX(-50%);
}

.container-box {
	display: flex;
	flex-direction: column;
	font-size: 20px;
	margin-bottom: 20px;
	border-bottom: 2px solid black;
	padding: 20px;
	background-color: #EAEAEA;
	border-radius: 10px;
	width: 700px;
	transform: translate(-50%);
	left: 50%;
	position: relative;
}

.backBtn {
	position: relative;
	left: 50%;
	transform: translateX(-50%);
	margin-top: 30px;
}

#category-tag {
	display: inline;
	margin: 0px;
	width: 300px;
}

.container-box h2 {
	margin-top: 20px;
	margin-bottom: 20px;
	font-size: 45px;
}

.star-icon-fav {
	color: black;
	font-size: 50px;
	margin: 0px !important;
	position: absolute;
	right: 10px;
	cursor: pointer;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

.heart-icon-fav {
	color: black;
	font-size: 45px;
	top: 28px;
	margin: 0px !important;
	position: absolute;
	right: 70px;
	cursor: pointer;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

.star-icon {
	color: #FFFF00;
}



.rating-container {
	margin-bottom: 30px;
}

.location-container {
	font-size: 15px;
}

.location-container span {
	display: inline-flex;
	flex-direction: row;
}

.container-box span {
	margin-bottom: 20px;
}

.cost-container {
	font-size: 17px;
	height: 24px;
}

.cost-container span {
	display: inline-flex;
	flex-direction: row;
}

.contents-image {
	position: relative;
	left: 50%;
	transform: translateX(-50%);
	margin-bottom: 50px;
	object-fit: none;
	height: 500px;
}

#activityNumber-tag {
	font-size: 17px;
}

pre {
	font-family: 'Noto Sans KR', sans-serif;
	font-size: 25px;
	margin-top: 30px;
	margin-bottom: 30px;
	padding: 50px 20px 50px 20px;
	width: 80%;
	position: relative;
	left: 50%;
	transform: translateX(-50%);
	white-space: pre-wrap;
	line-height: 50px;
	text-align: center;
}


.star-box {
	position: relative;
	display: inline-block;
}

#star-icon-tag {
	margin: 0px;
	left: 0px;
}

.contents-container {
	display: flex;
	flex-direction: column;
}

.userid-postedDate-container {
	display: flex;
	flex-direction: row;
	font-size: 20px;
}

.userid-postedDate-container span {
	margin: 0px;
}

.userid-postedDate-container span:first-child {
	margin-right: 20px;
}

#readHit-teg {
	position: absolute;
	display: block;
	right: 100px;
}

.back-btn-box {
	top: 20px;
	position: relative;
	margin-bottom: 50px;
}

.back-btn {
	position: relative;
	left: 50%;
	transform: translateX(-50%);
}

.form-container {
	position: relative;
	top: 30px;
	width: 80%;
	left: 50%;
	transform: translateX(-50%);
}

textarea {
	resize: none;
}

.input-group {
	width: 80%;
	left: 50%;
	transform: translateX(-50%);
	height: 100px;
}

.login-info-tag {
	position: relative;
	width: 80%;
	left: 50%;
	transform: translateX(-50%);
	margin-bottom: 10px;
}

.review-star-select-box {
	position: relative;
	left: 10%;
	margin-bottom: 10px;
}

#empty-star1,
#empty-star2,
#empty-star3,
#empty-star4,
#empty-star5 {
	width: 40px;
	cursor: pointer;
}

.submit-box {
	width: 100%;
}

.btn-dark {
	position: relative;
	left: 50%;
	transform: translateX(-50%);
	margin-bottom: 30px;
}

.review-box {
	margin-top: 10px;
	width: 60%;
	left: 50%;
	position: relative;
	transform: translateX(-50%);
	border: 1px solid black;
	border-radius: 5px;
	margin-bottom: 10px;
	padding: 10px;
}

.review-head {
	margin-bottom: 5px;
	font-size: 20px;
	vertical-align: auto;
}

#review-star-icon-tag {
	width: 20px;
	position: relative;
	bottom: 3px;
}

#review-rating-tag {
	display: none;
	color: red;
}

#reviewContent-tag {
	display: none;
	color: red;
}

.avg-rating-box {
	display: flex;
	flex-direction: column;
	text-align: center;
	width: 200px;
	font-size: 30px;
	margin-right: 30px;
}

#avg-value {
	text-align: center;
}

.totalRating-box {
	position: relative;
	display: inline-flex;
	left: 50%;
	transform: translateX(-50%);
	font-size: 20px;
}

#rating-score {
	margin-right: 10px;
}

.ratings-box {
	display: flex;
	flex-direction: column;
}